<nav class="mb-5 mt-2 mx-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/categories">Categoria</a>
    </li>
    <li class="breadcrumb-item active">
      Nova Categorias
    </li>
  </ol>
</nav>

<div class="row mb-3">
  <div class="col ms-3 md-6">
    <h1 class="h2 border-left pl-2">
      {{ pageTitle }}
    </h1>
  </div>
  <div class="col md-6 ">
    <a routerLink="/categories" class="btn btn-success me-3 float-end">
      < Voltar </a>
  </div>
</div>
<div class="me-3 ms-3 ">


  <form [formGroup]="categoryForm">

    <div class="card">
      <div class="card-header">
        Informações sobre a categoria
      </div>

      <div class="card-body">
        <div class="form-row">

          <div class="form-group col-md-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
          </div>

          <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" class="form-control" id="description">
          </div>

        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg float-end mt-3">Salvar</button>
  </form>
