<nav class="mb-5 mt-2 mx-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      Categories
    </li>
  </ol>
</nav>

<div class="row mb-3">
  <div class="col ms-3 md-6">
    <h1 class="h2 border-left pl-2">
      Categorias
    </h1>
  </div>
  <div class="col md-6 ">
    <a routerLink="new" class="btn btn-success me-3 float-end">
      +Nova categoria
    </a>
  </div>
</div>
<div class="me-3 ms-3 ">

  <table class="table position-relative  table-hover">

    <thead >
      <tr class="bg-primary center text-light">
        <th scope="col"> Categorias</th>
        <th class=""> Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let category of categories">
        <td>
          <strong>{{ category.name }}</strong><br>
          <small>{{ category.description }}</small>
        </td>
        <td>
          <a [routerLink]="[category.id,'edit']" class="btn btn-outline-info btn-sm me-2">Editar</a>
          <a (click)="deleteCategories(category)" class="btn btn-outline-info btn-sm">Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
